p {
  color: #ff0000;
  font-weight: bold;
}

.text--bold {
  color: #0e6b0a;
  font-weight: bold;
}

p.text--bold {
  color: #9752a5;
  font-weight: bold;
}

/* =============================================== */

div {
  color: #20126e;
}


.parent {
  color: orange;
}

.child {
  color: #99c24e;
}

div.child {
  color: #ff0000;
}

div .child {
  color: #00cf3e;
}

.parent>.child {
  font-size: 46px;
}

/* ================================================= */

a {
  color: #b80909;
}

a[href*="#blog"] {
  color: #000000;
}

body>a{
  font-size: 24px;
}

