.wrapper {
  padding: 100px 200px 200px;
  height: 100%;
  overflow: hidden;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.block {
  height: 50%;
  box-shadow: 0 0 20px #922552;
  border-radius: 20px;
  margin-bottom: 30px;
}

/* ======Первый вариант====== */

.block-1 {
  background: url("../images/mountain.jpeg") 50% 50% / 400px 200px no-repeat ,linear-gradient(#293fbb, #ad2a31);
}

/* ======Второй вариант====== */

.block-2 {
  background-image: url(../images/mountain.jpeg), linear-gradient(#293fbb, #ad2a31);
  background-position: 50% 50%, 100% 100%;
  background-size: 400px 200px, 100% 100%;
  background-repeat: no-repeat;
}